    #container {
        padding-right:15px;
        padding-left:15px;
        max-width: 500px;
        margin: auto;
    }

    #container strong {
        font-size: 20px;
        line-height: 26px;
    }
    
    #container a {
        text-decoration: none;
    }

    .card {
        width: 100%; 
        margin: auto;
        margin-top: 15px;
    }
    
    .cardButtonDiv {
    display: flex; 
    justify-content: center; 
    width: 100%;
    }

    .buttonIcon {
    margin-right: 5px;
    }

    .cardButton {
    margin-bottom: 15px;
    }

    .graficos-variables {
        display: flex; 
        justify-content: center;
    }

    .graficos {
        width: fit-content; 
        padding-top: 20px;
    }

    .conjunto-graficos {
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .moreinfo {
        color: white;
    }