<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="eye-outline"></ion-icon>
              Monitorear Variables
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          En este apartado puedes monitorear las variables del invernadero visualizando sus gráficas. 
        </ion-card-content>
      </ion-card>

      <app-connectionerror *ngIf="tabs.errorcard != ''"></app-connectionerror>

    <div class="graficos-variables">
      <div class="graficos" >
        <div class="conjunto-graficos">
          <circle-progress #circleProgress [options]="this.tabs.optionsTemp"></circle-progress>
          <circle-progress #circleProgress [options]="this.tabs.optionsHumedad"></circle-progress>
          <circle-progress #circleProgress [options]="this.tabs.optionsHumSuelo"></circle-progress>
          <circle-progress #circleProgress [options]="this.tabs.optionsLuz"></circle-progress>
        </div>
        <div class="moreinfo">
          <div class="indcaldiv">
            <p>Indice de calor: {{tabs.indCal}}ºC</p>
          </div>
          <div class="ventdiv">
            <p>Ventilación: <span style="color: {{tabs.ventilacion ? '#5F5' : '#F55'}}">{{tabs.ventilacion ? 'Encendida' : 'Apagada'}}</span></p>
          </div>
          <div class="lucesdiv">
            <p>Luces: <span style="color: {{tabs.lampara ? '#5F5' : '#F55'}}">{{tabs.lampara ? 'Encendidas' : 'Apagadas'}}</span></p>
          </div>
          <div class="ventdiv">
            <p>Riego: <span style="color: {{tabs.riego ? '#5F5' : '#F55'}}">{{tabs.riego ? 'Encendido' : 'Apagado'}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
