<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> 

  <div id="container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="stats-chart-outline"></ion-icon>
          Cambiar Variables
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        En este apartado puedes configurar el funcionamiento del invernadero
      </ion-card-content>

      <div class="cardButtonDiv">
        <ion-button color="dark" class="cardButton" size="small" (click)="presentInfoAlert()">
          <ion-icon name="help-circle-outline" class="buttonIcon"></ion-icon>
          Más información
        </ion-button>
      </div>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="server-outline"></ion-icon>
          Cambiar servidor backend
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Cambia la IP del servidor backend
      </ion-card-content>

      <div class="cardButtonDiv">
        <ion-button color="dark" class="cardButton" size="small" (click)="changeBackend()">
          <ion-icon name="arrow-forward-circle-outline" class="buttonIcon"></ion-icon>
          Cambiar
        </ion-button>
      </div>
    </ion-card>

    <app-connectionerror *ngIf="tabs.errorcard != ''"></app-connectionerror>

    <ion-item-group class="itemsdiv">
      <ion-item class="{{tabs.valores.ventilacion != tabs.nuevosValores.ventilacion ? 'activated' : ''}}">
        <ion-label>
          <ion-icon name="leaf-outline" class="inputIcon icon-lime"></ion-icon>
          Ventilación:
        </ion-label>
        <ion-select placeholder="Sin conexión" disabled="{{tabs.isOptionsDisabled}}" (ionChange)="onSelectChange($event, 'ventilacion')" value="{{tabs.nuevosValores.ventilacion}}">
          <ion-select-option value="-1">Apagada</ion-select-option>
          <ion-select-option value="0">Baja</ion-select-option>
          <ion-select-option value="1">Media</ion-select-option>
          <ion-select-option value="2">Alta</ion-select-option>
          <ion-select-option value="3">Siempre</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="{{tabs.valores.riego != tabs.nuevosValores.riego ? 'activated' : ''}}">
        <ion-label>
          <ion-icon name="water-outline" class="inputIcon icon-aqua"></ion-icon>
          Riego:
        </ion-label>
        <ion-select placeholder="Sin conexión" disabled="{{tabs.isOptionsDisabled}}" (ionChange)="onSelectChange($event, 'riego')" value="{{tabs.nuevosValores.riego}}">
          <ion-select-option value="-1">Apagado</ion-select-option>
          <ion-select-option value="0">Bajo</ion-select-option>
          <ion-select-option value="1">Medio</ion-select-option>
          <ion-select-option value="2">Alto</ion-select-option>
          <ion-select-option value="3">Siempre</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="{{tabs.valores.hsluz != tabs.nuevosValores.hsluz ? 'activated' : ''}}">
        <ion-label>
          <ion-icon name="bulb-outline" class="inputIcon icon-yellow"></ion-icon>
          Iluminación:</ion-label>
        <ion-select placeholder="Sin conexión" disabled="{{tabs.isOptionsDisabled}}" (ionChange)="onSelectChange($event, 'hsluz')" value="{{tabs.nuevosValores.hsluz}}">
          <ion-select-option value="-1">Apagada</ion-select-option>
          <ion-select-option value="0">Baja</ion-select-option>
          <ion-select-option value="1">Media</ion-select-option>
          <ion-select-option value="2">Alta</ion-select-option>
          <ion-select-option value="3">Siempre</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    <div class="buttons">
      <ion-button color="primary" disabled="{{tabs.isOptionsDisabled}}" class="submitButton" (click)="tabs.updateValues()">
        <ion-icon name="checkmark-circle-outline" class="submitButtonIcon" *ngIf="!tabs.buttonloading"></ion-icon>
        <ion-spinner name="crescent" *ngIf="tabs.buttonloading" class="submitButtonIcon"></ion-spinner>
        Aplicar
      </ion-button>
    </div>
  </div>
</ion-content>
