<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
        <ion-icon name="bar-chart-outline"></ion-icon>  
        Obtener Datos
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Presionando este boton obtendrás los datos del invernadero en una planilla excel (.xlxs)
      </ion-card-content>
      <div class="cardButtonDiv">
        <ion-button color="success" class="cardButton">
          <ion-icon name="cloud-download-outline" class="buttonIcon"></ion-icon>
          Descargar Excel
        </ion-button>
      </div>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        Temperatura
      </ion-card-header>
      <ion-card-content>
        <canvas #tempCanvas style="position: relative;"></canvas>
      </ion-card-content>
    </ion-card>

    
  </div>
</ion-content>
